In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df={'X':[0,1,2,3,4],'Y':[2,3,5,4,6]}
df_=pd.DataFrame(df)
df_

   X  Y
0  0  2
1  1  3
2  2  5
3  3  4
4  4  6

In [3]:
test={'X':[5,6,7,8,9,10]}
test_=pd.DataFrame(test)
test_

    X
0   5
1   6
2   7
3   8
4   9
5  10

In [7]:
X_=np.array(df_['X']).reshape(-1,1)
X_

array([[0],
       [1],
       [2],
       [3],
       [4]], dtype=int64)

In [8]:
X=X_
y=df_['Y']

In [9]:
lin_reg=LinearRegression(fit_intercept=True)

In [10]:
lin_reg.fit(X,y)

LinearRegression()

In [11]:
print('Linear Model Coeff m:{}'.format(lin_reg.coef_))
print('Linear Model Intercept c: {}'.format(lin_reg.intercept_))

Linear Model Coeff m:[0.9]
Linear Model Intercept c: 2.1999999999999993

In [12]:
y_predict=lin_reg.predict(X)

In [13]:
y_predict=lin_reg.predict(test_)

In [14]:
y_predict

array([ 6.7,  7.6,  8.5,  9.4, 10.3, 11.2])

In [15]:
y=11.2